
// Variables
$color-base: "#f2bb00";//yellow
$color-contrast: "#009de0"; //blue
$color-link: "#00a0d2"; //blue-link
$color-font-dark: "#363636"; //gray-dark-font
$color-bg: "rgba(255,255,255,.9)"; //gray
$color-bg-light: "#ffffff"; //white
$color-bg-dark: "#333333";  //gray-dark menu

// Fonts
$font-main: "Verdana, sans-serif";
$font-headings: "Verdana, sans-serif";
$font-menu: "Consolas, Menlo, Monaco, 'Courier New', monospace";